<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
    <script src="../js/echarts.min.js"></script>
    <script src="../js/jquery-1.8.3.min.js"></script>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
</header>
<body>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 1000px;height: 800px;"></div>
    <button id="1hour">1小时内数据</button>
    <button id="6hour">6小时内数据</button>
    <button id="12hour">12小时内数据</button>
    <button id="18hour">18小时内数据</button>
    <button id="24hour">24小时内数据</button>
    <button id="1week">1周内数据</button>
    <button id="1month">1月内数据</button>
</body>
 <script type="text/javascript">



     function loadData(hour){
         count=hour*60;
         $.ajax({
             url: "http://dev.service.dawan.online/face2face/view/chats.html/face2face/app/onlineStatus?count="+count,
             dataType:"json",
             success: function(data){
                 var maxOnline=data.data.maxOnline;
                 var statuses=data.data.statusList;
                 var time=new Array();
                 var num=new Array();
                 for(x in statuses){
                     var status=statuses[x];
                     var date=new Date();
                     date.setTime(status.time);
                     var hour=date.getHours();
                     var min=date.getMinutes();
                     if(min>=10){
                         min=min+"";
                     }else{
                         min="0"+min;
                     }
                     time.push(hour+":"+min);
                     num.push(status.onlineNum);
                 }
                 // list=data;
                 // var ids=new Array();
                 // var inMessage=new Array();
                 // var outMessage=new Array();
                 // for(x in list){
                 //  var records=list[x];
                 //  ids.push(records.user.showName);
                 //  inMessage.push(records.totalIN);
                 //  outMessage.push(records.totalOUT);
                 // }
                 // 基于准备好的dom，初始化echarts实例
                 var myChart = echarts.init(document.getElementById('main'));

                 // 指定图表的配置项和数据
                 var option = {
                     title: {
                         text: '历史最高在线人数:'+maxOnline
                     },
                     tooltip: {
                         trigger: 'axis'
                     },
                     legend: {
                         data:['在线人数']
                     },

                     xAxis: {
                         type: 'category',
                         boundaryGap: false,
                         data:time
                     },
                     yAxis: {
                         type: 'value'
                     },
                     series: [{
                         name: '在线人数',
                         type: 'line',
                         smooth: true,
                         data: num
                     }]
                 };

                 // 使用刚指定的配置项和数据显示图表。
                 myChart.setOption(option);
                 myChart.on('click',function(params){
                     if (params.componentType === 'series') {
                         alert(params.seriesType);
                         alert(params.seriesIndex);
                         alert(params.seriesName);
                         alert(params.name);
                         alert(params.dataIndex);
                         alert(params.data);
                     }
                 })

             },
             error:function(data){
                 alert(data);
             }

         })
     }
     $("#1hour").click(function(){loadData(1)});
     $("#6hour").click(function(){loadData(6)});
     $("#12hour").click(function(){loadData(12)});
     $("#18hour").click(function(){loadData(18)});
     $("#24hour").click(function(){loadData(24)});
     $("#1week").click(function(){loadData(24*7)});
     $("#1month").click(function(){loadData(24*30)});
     $(document).ready(function(){loadData(1)});

    </script>
</html>